html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #000000;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  color: #ffffff;
}
a{
  text-decoration: none;
  color: #ffffff;
}
a:visited{
  color: #bdae82;
}
ul{
  list-style: none;
}
h1{
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 120px;
  color: #ffffff;
}
h2{
  display: inline;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 40px;
  padding: 0 20px 0 20px;
  background-color: #000000;
  color: #bdae82;
}
h3{
  margin-top: 100px;
  font-weight: 700;
  text-align: center;
}
.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
}
.header-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  background: url('assets/jpg/bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
}
.nav{
  margin-left: auto;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 500px;
  padding-left: 30px;
  padding-right: 30px;
}
.nav-item{
  margin-left: 15px;
  margin-right: 15px;
}
.nav-item:first-child{
  margin-left: 0;
}
.logo{
  margin: 20px;
  height: 50px;
  width: 50px;
  transition: 0.3s;
}
.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}
.lang{
  margin: auto 20px auto 15px;
}
.section-hero{
  padding-top: 160px;
  padding-left: 80px;
  height: 820px;
  background-image: url('assets/jpg/bg.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
}
.section-hero .hero-text{
  height: 330px;
  width: 500px;
}
.section-hero .about{
  display: block;
  height: 120px;
  width: 470px;
  margin-bottom: 25px;
}
.button {
  display: block;
  height: 55px;
  width: 220px;
  padding: 8px 70px 8px 70px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 20px;
}
.button-solid{
  background-color: #bdae82;
  color: #000000;
}
.button-transparent{
  border: 1px solid #bdae82;
  background-color: #000000 ;
  color: #bdae82;
}
.section-skills{
  height: 482px;
}
.section-title{
  width: 50%;
  height: 80px;
  margin: 100px auto 60px auto;
  padding-top: 16px;
  text-align: center;
  background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
  }
.skills-items{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 242px;
}
.skill-item{
  margin: 0 20px 0px 20px;
  padding-bottom: 8px;
  height: 240px;
  width: 320px;
  padding: 0 20px 8px 20px;
  background-position: center top;
  background-repeat: no-repeat;
}
.skill-item:nth-child(1) {
  background-image: url('./assets/svg/camera\ 1.svg');
  background-size: 62px 50px;
}
.skill-item:nth-child(2) {
  background-image: url('./assets/svg/video\ 1.svg');
  background-size: 62px 50px;
}
.skill-item:nth-child(3) {
  background-image: url('./assets/svg/image\ 1.svg');
  background-size: 62px 50px;
}
.skill-item:nth-child(4) {
  background-image: url('./assets/svg/mic\ 1.svg');
  background-size: 62px 50px;
}
.skill-text{
  display: block;
  height: 72px;
  width: 280px;
  margin-top: 20px;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}
.section-portfolio{
  height: 1500px;
  padding: 0 20px 0 20px;
}
.button-group{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0 auto 60px auto;
}
.photo-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 450px);
  grid-template-rows: repeat(2, 560px);
  grid-gap: 25px;
  max-width: 140px;
  max-height: 1145px;
}
.video-player{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px 0 20px;
  height: 705px;
  width: 1400px;
}
.video-button {
  display: block;
  position: absolute;
  height: 130px;
  width: 130px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url(assets/svg/Play_hover.svg);
}
.price-cards{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}


