:root {
  --font1:32px;
  --font2: 20px;
  --color-blue: #96e2ff;
  --color-orange: #ff8e43;
}
@media (max-width: 768px) {
:root{
  --font2: 16px;
}
}

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

 }
 body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 320px;
  background: linear-gradient(rgb(105, 105, 255), rgb(255, 188, 199));
  font-family: 'Signika Negative', sans-serif;
  font-size: var(--font2);
  font-weight: 400;
  line-height: 40px;
  color: #fff;
}
.h2{
  display: block;
  font-size: var(--font1);
  margin-right: auto;
  margin-left: 20px;
  min-width: 300px;
}
@media (max-width:700px){
  .h2{
    min-width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}
a{
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}
a:hover, a:active{
  color: var(--color-orange);
}
.container{
  padding-left: 20px;
  padding-right: 20px;
}
.main-container{
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-height: 1000px;
  max-width: 90%;
  margin: 0 auto;
}
.image{
  width: 350px;
  height: 250px;
  margin: 10px;
  background-position: center;
  background-size: cover;
  border: 2px solid #fff;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.1s;
}
.image:hover, .image:active{
  border: 5px solid #000;

}
.header{
  overflow-x: hidden;
  width: 100%;
  transition: 0.4s;
}
.header-container{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
}
.logo{
  height: 80px;
  width: 80px;
}

.search {
  position: relative;
  display: flex;
  justify-content: center;
  min-width: 20%;
}

.search-term {
  width: 100%;
  height: 50px;
  font-size: var(--font2);
  border: 3px solid var(--color-blue);
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.search-term:focus{
  color: var(--color-blue);
}

.search-button {
  width: 50px;
  height: 50px;
  border: 1px solid var(--color-blue);
  padding: 3px;
  background: var(--color-blue);
  background-image: url(./assets/svg/search.svg);
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
}
.search-button:hover, .search-button:active{
  background: var(--color-orange);
  background-image: url(./assets/svg/search.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-height: 100px;
  padding: 20px;
}
.social-list{
  list-style: none;
  display: flex;
  gap: 20px;
}
.footer-left{
  display: flex;
  gap: 20px;
}
.rss-link{
  filter: invert();
  transition: 0.3s;
}
.rss-logo{
  height: 30px;
}
.rss-link:hover, .rss-link:active{
  filter: invert(26%)  saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.social-logo{
  height: 20px;
  width: 20px;
  transition: 0.3s;
}
.social-logo:hover, .social-logo:active{
  filter: invert(26%)  saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}
.close {
  position: absolute;
  right: 60px;
  top: 8px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  }
.close:hover {
  opacity: 1;
  cursor: pointer;
  }
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

