:root {
  --color-gold: #bdae82;
  --color-black: #000;
  --color-white: #ffffff;

  --background-color: #000;
  --text-color: #fff;
  --hover-color: #fff;
  --line-color: #bdae82;

  --font1: 60px;
  --font2: 40px;
}
@media (max-width: 768px) {
:root{
  --font1: 32px;
  --font2: 32px;
  --font3: 20px;
  }
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--background-color);
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  color: var(--color-white);
}
.container{
  padding: 20px;
}
.game-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
td{
  border: 3px solid var(--color-gold);
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-size: var(--font2);
  color: var(--color-white);
}

table{
  border-collapse: collapse;
}
table tr:first-child td{
  border-top: 0;
}
table tr:last-child td{
  border-bottom: 0;
}
table tr td:first-child{
  border-left: 0;
}
table tr td:last-child{
  border-right: 0;
}
.button {
  display: block;
  height: 55px;
  width: 220px;
  padding: 8px 70px 8px 70px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 20px;
  transition: 0.3s;
}
.button-solid{
  background-color: var(--color-gold);
  color: var(--color-black);
}
.button-solid:hover {
  color: var(--color-white);
  box-shadow: 0 0.5em 0.5em -0.4em #ffa260;
	transform: translatey(-0.65em);
}

.game-status, .turn-number{
font-size: var(--font2);
}
.winners{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  justify-content: center;
  
}
.winners-list-element{

}